header {
    position: sticky;
    top: 0;
    background-image: linear-gradient(
      to right,
      var(--toRightDark) 50%,
      var(--toRightBlue) 50%
    );
    padding: 24px 0;
    z-index: 1;
  }
  .navbar-shrink {
    background: var(--redShrink);
    backdrop-filter: blur(6px);
    transition: 1s;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-brandIcon {
    color: var(--whiteColor);
    font-size: 25px;
    display: none !important;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style-type: none;
  }
  .nav-btn {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .nav-btn__link {
    border: 1px solid var(--whiteColor);
    padding: 16px 31px;
    font-family: Orbitron;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    
  }
  .dark header{
    background-image: linear-gradient(
      to right,
      var(--toRightBlue) 50%,
      var(--toRightDark) 50%)
  }
  .dark .game-bg {
    background-image: linear-gradient(
      to right,
      var(--toRightBlue) 50%,
      var(--toRightDark) 50%
    );
  }
  .dark .game-bg__fire--span{
    color: rgba(255, 0, 0, 0.849);
    font-size: 20px;
  }
  .dark section{
    background: rgb(219, 186, 84);
  }
  .dark .game-bg__btn{
    background-color: var(--toRightDark);
  }
  .dark .navbar-shrink {
    background: var(--redShrink);
    backdrop-filter: blur(6px);
    transition: 1s;
  
  }
  .dark footer{
    -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
    filter: grayscale(40%);
  }
  
  
  
  
  @media (max-width: 970px) {
    .nav-menu {
      gap: 20px;
    }
    .nav-btn {
      gap: 14px;
    }
  }
  @media (max-width: 800px) {
    nav {
      display: block;
    }
    .nav-brandIcon {
      display: block !important;
    }
    .nav-menu {
      padding: 30px 0;
      justify-content: center;
      display: none;
    }
    .nav-btn {
      display: none;
    }
    .active {
      display: flex;
    }
    .activeBtn {
      display: flex;
    }
  }
  @media (max-width: 350px) {
    .nav-menu {
      gap: 5px;
    }
  }
  